<ul class="list-group">
  <li *ngFor="let character of characterList;
  let i = index
  let isFirst = first;
  let isLast = last;
  let isEven = even;
  let isOdd = odd;
  "
    class="list-group-item" [ngClass]="{'list-group-item-warning':isLast, 'list-group-item-info': isFirst}">
    <span class="text-primary"> {{ i + 1 }}- </span>
    <span>{{ character.name }} -</span>
    <strong>Power: </strong>
    <span>{{ character.power }}</span>

    <span>Es el primero: {{ i === 0 }}</span>
    <span>Es el último: {{ i === characterList.length - 1 }}</span>
  </li>
</ul>
